<!DOCTYPE html>
<html>

<head>
    <title>Owl It Solutions</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles.css">
    <style>
        .top-nav li a.nav-link:hover,
        .top-nav .nav-item.active a.nav-link {
            border-bottom: 3px solid #212529;
            color: #212529;
            transition: 0.5s ease-in;
            -webkit-transition: 0.5s ease-in;
            -moz-transition: 0.5s ease-in;
        }

        .top-nav.light-header .nav-item.active a.nav-link {
            border-bottom: 3px solid #212529;
            color: #212529;
        }

        .navbar.navbar-expand-md.fixed-top.top-nav {
            background: #35cbdf;
        }

        .top-nav.light-header .navbar-brand {
            color: #fff;
        }

        .top-nav.light-header .navbar-nav li .nav-link {
            color: #fff;
        }

        .top-nav li a.nav-link:hover,
        .top-nav .nav-item.active a.nav-link {
            border-bottom: 3px solid #212529;
            color: #212529;
        }
    </style>
</head>

<body>

    <!-- Top navigation -->
    <nav class="navbar navbar-expand-md fixed-top top-nav">
        <div class="container">
            <a class="navbar-brand" href="#"><strong>OWL IT SOLUTIONS</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/components/about.html">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/components/services.html">Services</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/components/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Seven -->




    <!-- Info block 1 -->
    <section class="info-section">
        <div class="head-box text-center mb-5">
            <h2 class="text-underline-primary service_page" data-aos="fade-right">Services</h2>
            <div class="services_page">
                <p class="services_p">ValourUSA Inc. is a client-centred organization with a complete portfolio of
                    services. We make it our
                    business to understand our customer's enterprise and its direction, the complexities of their trade,
                    their processes & operating philosophy and their priorities. This way we can offer our customers
                    solutions that are tailor-made for their business needs.</p>
                <br>
                <p class="services_p">Together with our total customer commitment, what sets us apart is:
                    Our Industry Solutions/Domain Expertise: Our conscious focus on a few key domains has given us the
                    ability to build real skills in each of them: skills that encompass the entire gamut from design,
                    development and integration of applications to operating key processes. Our customers benefit that
                    not
                    just from our expertise but also from the rich experience Valourusa has in the verticals such as
                    Automobile, Finance, Banking, Insurance, Telecom, and Manufacturing etc.</p>
                <br>
                <p class="services_p">ValourUSA Inc. focus is to establish long term client relationships based on trust
                    & reliability. We
                    are
                    a cost effective, quality driven, technology services company committed to timely delivery of our
                    client’s needs. Below are company's main motives</p>
                <br>
                <p class="services_p">Our differentiating niche is our combination of speed, cost and quality. We get
                    you the IT team you
                    need
                    faster, more economically and they deliver it that simple. Our modus operandi is Trust, Integrity
                    and
                    Confidence.</p>
                <br>

            </div>
        </div>
        <div class="servie_box ">
            <div class="row">
                <div class="col-md-6 service_col">
                    <h2>IT Business Consulting</h2>
                    <p>Ownitsolutions Inc. is a technology-intensive solution and service provider and also the fastest
                        growing IT company offering mission-critical IT solutions to our clients all over the globe
                        to
                        improve the businesses through cutting-edge technologies
                    </p>
                    <ul>
                        <li>Consultants</li>
                        <li>BI/DW Architects</li>
                        <li>SOA and Service Bus Architects</li>
                        <li>J2EE/.NET consultants</li>
                        <li>Developers</li>
                        <li>DBA'S</li>
                        <li>Techinal Architects</li>
                        <li>Designers</li>
                        <li>Business Analysts</li>
                        <li>QA Analysts</li>
                    </ul>
                </div>
                <div class="col-md-6 servie_img">
                    <img src="/images/bg2.webp" alt="">
                </div>
            </div>

            <div class="service_second_box">
                <div class="row mt-3">
                    <div class="col-md-6 servie_img">
                        <img src="/images/bg.jpg" alt="">
                    </div>
                    <div class="col-md-6 service_col">
                        <h2>Product Development</h2>
                        <p>We are a leading name in high expertise product development services. Ownitsolutions Inc. is
                            a
                            key partner to our customers, helping them bring fantastic and innovative products to market
                            with success.
                        </p>
                        <ul>
                            <li>Project execution</li>
                            <li>Products development</li>
                            <li>Project Enhancement and Maintenance</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="team-section ">
        <!--Bottom Footer-->
        <div class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="icons_div">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="copyright">
                            <p>© 2022 Owlitsolutions
                                All rights
                                reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bottom Footer-->
    </section>


    <!-- JavaScript Bundle with Popper -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/script.js"></script>
</body>

</html>